<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head}"></head>
<body>
<nav th:replace="~{base :: nav}"></nav>

<H1>Visualisar</H1>

<form th:object="${restaurantDTO}" action="/restaurant/alterar" method="POST">

    <div>ID: <input th:field="${restaurant.id}"></div>
    <div>Nome: <input th:field="${restaurant.name}"></div>
    <div>Endereço: <input th:field="${restaurant.address}"></div>
    <div>Cidade: <input th:field="${restaurant.city}"></div>
    <div>Estado: <input th:field="${restaurant.state}"></div>
    <div>CEP: <input th:field="${restaurant.zipCode}"></div>
    <div>Média das Avaliações: <input th:field="${restaurant.mediaAvaliacao}"></div>

    <button action="submit()" >Alterar</button>
</form>


</body>
</html>